.reset-password .section-container {
	width: 50%;
	margin-top: 2.25rem;
}
.reset-password .section .box-title {
	font-size: 1.25rem;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #aaa;
}
.reset-password .section .box {
	width: 70%;
	margin: 2rem auto;
}
.reset-password .section .box input {
	padding-left: 0.5rem;
	width: calc(100% - 0.75rem);
}

.reset-password .box .row {
	margin-top: 0.75rem;
}

.reset-password .box .button {
	padding: 10px 15px;
}

.reset-password .error {
	font-size: 0.85rem;
	color: var(--mis-danger);
	transition: ease-in;
}
.reset-password .error span {
	color: var(--mis-primary);
	font-weight: bold;
} 

@media screen and (max-width: 525px) {
	.reset-password .section-container {
		width: 80%;
		margin-top: 1rem;
	}
	.reset-password .box .button {
		padding: 5px 10px;
	}
	.reset-password .section .box {
		width: calc(80% - 0.75rem);
	}
	.reset-password .section .box-title {
		font-size: 1rem;
	}
}