:root {
	--green: #5ecdb9;
	--blue: #74ACED;
	--gray: #E0E0E0;
	--orange: #FFC107;
	--red: #fc6171;
	--primary: #fc6171;
}

.bg-red-primary {
	background-color: var(--red);
}

.bg-green-primary {
	background-color: var(--green);
}

.bg-blue-primary {
	background-color: var(--blue);
}

.bg-orange-primary {
	background-color: var(--orange);
}
