
@media print { 
    .print-table {
        width: 90%;
        margin: auto;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        border-radius: 2%;
        white-space: nowrap;
        margin-bottom: 2cm;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }
  
    table tr {
        background-color: white;
        border: 1px solid black;
        padding: .35em;
        line-height: 0.5;
    }

    table th,
    table td {
        padding: .625em;
        text-align: left;
        border: 1px solid black;
        white-space: nowrap;
        overflow: hidden;
    }

    table th {
        font-size: .85em;
        text-transform: uppercase;
        text-align: center;
    }

    .row-sr {
        width: 10%;
    }
    .row-roll {
        width: 15%;
    }
    .row-phone {
        width: 25%
    }
    .row-name {
        width: 25%;
    }
    .row-fname {
        width: 25%;
    }

}