@media print { 
    
    .row-sr {
        width: 10%;
    }
    .row-roll {
        width: 15%;
    }
    .row-phone {
        width: 25%
    }
    .row-name {
        width: 25%;
    }
    .row-fname {
        width: 25%;
    }

}