.ilmx-analytics .container {
	width: 100%;
	display: block;
}
.ilmx-analytics .card {
	display: flex;
	flex-wrap: wrap;
	background: #ffffff;
	margin: 0.25rem;
	padding: 0.75rem;
	border-radius: 6px;
	border-left: 4px solid #74aced;
} 

.ilmx-analytics .card-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 2px;
}

.ilmx-analytics .card-row .inner {
	width: 80%;
}

.ilmx-analytics .card-row .student-class-title {
	font-size: 0.85rem;
	margin: 0;
	margin-left: 2.0rem;
}

.ilmx-analytics .card-row .views {
	margin: 0;
	margin-left: 0.50rem;
	padding-top: 4px;
}

.ilmx-analytics .card-row .card-title {
	margin: 0;
	font-weight: bold;
	padding-top: 4px;
	margin-left: 0.50rem;
}

.ilmx-analytics .card-row .more-detail {
	width: 100%;
	display: flex;
	margin-left: 1rem;
}

.ilmx-analytics .card-row .hidden-views {
	font-weight: bold;
}

.ilmx-analytics .card-row .more-detail p {
	font-size: 0.75rem;
	margin: 0;
	margin-left: 1rem;
}

.ilmx-analytics .card-row .viewer {
	background: #5ecdb9;
	cursor: pointer;
	border-radius: 4px;
	padding: 1px;
}

.ilmx-analytics.modal-container.inner {
	width: 50%;
	padding: 15px;
}

.ilmx-analytics.modal-container.inner .card {
	padding: 0.5rem;
	border: 1px solid #74aced;	
}

.ilmx-analytics.modal-container.inner .card-row .viewer {
	font-size: 0.85rem;
	background: #5ecdb9;
	border-radius: 4px;
}

.ilmx-analytics.modal-container.inner .card-row .hidden-views {
	font-weight: normal;
}

@media (max-width: 475px) {
	.ilmx-analytics .card-row .views {
		display: none;
	}
	.ilmx-analytics .card-row .card-title {
		padding-top: 2px;
		font-size: 0.85rem;
	}
	.ilmx-analytics .card-row .inner {
		width: 100%;
	}
	.ilmx-analytics.modal-container.inner .card-row .viewer {
		font-size: 0.65rem;
		padding-left: 0.075rem;
		padding-right: 0.075rem;
	}
	.ilmx-analytics.modal-container.inner {
		width: 80%;
		padding: 15px;
	}
}

@media (min-width: 475px) {
	.ilmx-analytics .card-row .hidden-views {
		display: none;
	}
}

.ilmx-analytics .most-viewed-videos.sort {
	height: 24px;
	width: 24px;
	margin-left: auto;
	cursor: pointer;
}

.ilmx-analytics  .custom-tooltip {
	background-color: white;
	width: 200px;
	max-width: 100%;
	padding: 15px;
	border: 2px solid var(--ilmx-primary);
	border-radius: 4px;
}
.ilmx-analytics .custom-tooltip .row {
	margin-bottom: 0.5rem;
}

.ilmx-analytics .custom-tooltip .row label {
	font-weight: bold;
	padding-right: 0.25rem;
}
@media (max-width: 425px) {
	.ilmx-analytics .custom-tooltip {
	 width: 150px;
	}
	.ilmx-analytics .custom-tooltip .row {
		font-size: 0.90rem;
	 	margin-bottom: 0.375rem;
 	}
}