
.sms-page .form {
	width: 80%;
}

.sms-page .form a.button {
	display: block;
}

@media (min-width: 772px){
	.is-mobile-only {
		display: none;
	}
}

.sms-page .portal-link {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sms-page .portal-link input[type="checkbox"] {
	width: 28px;
	min-width: initial;
	margin: 0;
	margin-left: auto;
}

.sms-page .warning{
	font-size: 0.85rem;
	color: var(--mis-warning);
	border-color: var(--mis-warning);
}