.mis-alert.modal-container.inner {
	width: 50%;
	height: 35%;
	padding: 20px;
}

.mis-alert .section-container {
	width: 90%;
}

.mis-alert .title {
	margin-top: 5px;
	margin-bottom: 5px;
}

.mis-alert .row {
	padding-top: 10px;
	padding-bottom: 5px;
}

.mis-alert .row .button.cancel {
	margin-right: 10px;
}

.mis-alert .row input {
	width: 100%;
	padding-left: 0.5rem;
}

.mis-alert .row.error {
	color: #fc6171;
}

.mis-alert .row.actions {
	justify-content: flex-end;
}

@media (max-width: 768px) {
	.mis-alert .close.button {
		padding: 4px 8px;
	}
	.mis-alert .title {
		font-weight: 700;
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 525px) {
	.mis-alert.modal-container.inner {
		width: 80%;
	}
	.mis-alert {
		width: 75%;
		height: 40%;
	}
}

@media (max-width: 425px) {
	.mis-alert .close.button {
		font-size: 14px;
		padding: 2px 6px;
	}
	.mis-alert .title {
		font-size: 1.2rem;
	}
}

@media screen and (max-height: 500px) {
	.mis-alert.modal-container.inner {
		height: 50%;
	}
}

.mis-alert .close {
	position: absolute;
	right: 10px;
	top: 10px;
}

.mis-alert .title {
	color: #333;
	align-self: center;
}

.mis-alert .card {
	padding: 20px;
	width: 90%;
}
