.branch-manager .tag-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}
.branch-manager .tag-row{
	flex-direction: row;
	margin: 2px 2px;
}

.branch-manager .tags {
	align-items: center;
	flex-wrap: nowrap;
	height: 50px;
}

.branch-manager .tag {
    padding: 8px 5px;
	height: 5px;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius:2px; 
	margin: 2px;
	background-color: rgba(0,0,0,0.05);
	color: #222;
	font-size: .7rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
}

.branch-manager .deletable-tag-wrapper {
	display: flex;
	flex-direction: row;
	cursor: pointer;
}
	.deletable-tag-wrapper .tag {
		margin: 0;
		border-radius: 2px 0 0 2px;
	}

.branch-manager .cross {
	font-size: inherit;
	border: 1px solid #bbb;
	border-left: none;
	padding: 0 5px;
	display: flex;
	align-items: center;
	border-radius: 0 2px 2px 0;
}

.branch-manager :hover.cross{
	background-color: #ff6b68;
	color: #fafafa;
}