
.bulk-exams .filter-container {
	width: 100%;
	margin: 0;
}
.bulk-exams .filter-container .row {
	justify-content: flex-end;
}

.bulk-exams .filter-container select {
	margin: 0.25rem;
}

.bulk-exams .filter-container select:last-child {
	margin-right: 0;
}

.bulk-exams .row .button {
	padding: 10px 15px;
}

.bulk-exams .table-wrapper {
	width: 100%;
	max-height: 440px;
	overflow: auto;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
}

.bulk-exams .table-wrapper table {
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.bulk-exams .table-wrapper td, th {
	white-space: nowrap;
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

.bulk-exams .score-sheet.table-wrapper th {
	background-color: #eee;
	position: sticky;
	top: -1px;
	z-index: 2;
	padding: 20px 0px;
}

/* The first cell that lives in the top left of our spreadsheet */
.bulk-exams .score-sheet.table-wrapper th:first-of-type {
	left: -1px;
	z-index: 3;
}

 /* The first column that we want to stick to the left */
 .bulk-exams .score-sheet.table-wrapper tbody tr td:first-of-type {
	background-color: #eee;
	position: sticky;
	left: -1px;
	z-index: 1;
	padding: 20px;
	text-align: left;
	vertical-align: middle;
}

.bulk-exams .score-sheet.table-wrapper tbody tr td input {
	width: 80px;
	border-radius: 2px;
	font-size: 0.95rem;
	background-color: #fff;
	border: 1px solid #949191;
	box-shadow: none;
	display: inline-block;
	height: 1.0em;
	justify-content: flex-start;
	line-height: 1.0;
	text-align: center;
	padding: calc(.5em - 1px);
}

.bulk-exams .recent-exams {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.bulk-exams .recent-exams .create-exam {
	margin-top: 1.25rem;
}

.bulk-exams .recent-exams .create-exam.row {
	justify-content: flex-end;
}

.bulk-exams .score-sheet.row {
	justify-content: flex-end;
	margin-top: 20px;
}

.bulk-exams .recent-exams.table-wrapper td:first-child {
	text-align: left;
}
.bulk-exams .recent-exams.table-wrapper th {
	background-color: #eee;
}

@media (max-width: 475px) {
	.bulk-exams .section-container {
	   width: 85%; 
	}
}

@media (max-width: 575px) {
	.bulk-exams .filter-container select {
		font-size: 0.85rem;
		height: 35px;
		width: 25%;
	}
	.bulk-exams .filter-container select:last-child {
		width: 50% !important;
	}
	.bulk-exams .score-sheet.table-wrapper th:first-of-type {
			left: unset;
	}
	.bulk-exams .score-sheet.table-wrapper tbody tr td:first-of-type {
			position: relative;
			left: unset;
			z-index: 0;
	}
}

.bulk-exams.modal-container.inner {
	width: 80%;
	min-height: 50%;
	padding: 20px;
}

.bulk-exams.modal-container.inner .form {
	width: 100%;
	margin: 0;
}

.bulk-exams.bulk-exams.modal-container.inner .disabled {
	pointer-events: none;
	opacity: 0.7;
}