@media print {
    .print-table {
        width: 100%;
        margin: auto;
    }
    .row-quantity {
        width: 15%;
    }
    .row-date {
        width: 15%;
    }
    .row-amount {
        width: 20%;
    }
    .row-label {
        width: 20%;
    }
    .row-category {
        width: 25%
    }
}