.new-user .checkbox-row {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
} 
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.toggleSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggleSlider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .toggleSlider {
    background-color: #5ecdb9;
}
input:focus + .toggleSlider {
    box-shadow: 0 0 1px #5ecdb9;
} 
input:checked + .toggleSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} 
  /* Rounded sliders */
.toggleSlider.round {
    border-radius: 34px;
}
  
.toggleSlider.round:before {
    border-radius: 50%;
}
