.pdf-label {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.question-name {
    margin-right: 90%;
    text-transform: capitalize;
}
.save-btn-div {
    margin-top: 45px !important;
}
.save-btn {
    padding: 10px 15px 10px 15px !important;
}
.table-header {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}
.table-data {
    font-size: 18px;
    text-align: center;
    padding: 7px;
    text-transform: capitalize;
}