.pdf-label {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.question-name {
    text-transform: capitalize;
}
.save-btn-div {
    margin-top: 45px !important;
}
.save-btn {
    padding: 10px 15px !important;
}
.table-header {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}
.slo {
    font-size: 18px;
    text-align: left;
    text-transform: capitalize; 
    cursor: pointer;
}
.std-name:hover, .slo:hover {
    color: #5ecdb9;
}
.std-name {
    font-size: 18px;
    padding: 7px;
    text-transform: capitalize;
    text-align: "left";
    cursor: "pointer";
}
.table-data {
    font-size: 18px;
    text-align: center;
    padding: 7px;
    text-transform: capitalize;
}
.questions-container {
    margin: 30px;
}

.flex-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
}

.report-table {
    width: 100%;
}

@media screen and (max-width: 525px) {
    .questions-container {
        margin: 0px;
    }
    .pdf-label {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .question-name {
        text-transform: capitalize;
    }
    .save-btn-div {
        margin-top: 45px !important;
    }
    .save-btn {
        padding: 10px 15px 10px 15px !important;
    }
    .table-header {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
    }
    .table-data {
        font-size: 12px;
        text-align: center;
        padding: 7px;
        text-transform: capitalize;
    }
    .slo {
        font-size: 12px;
        text-align: left;
        text-transform: capitalize; 
        cursor: pointer;
    }
    .std-name:hover, .slo:hover {
        color: #5ecdb9;
    }
    .std-name {
        font-size: 12px;
        padding: 7px;
        text-transform: capitalize;
        text-align: "left";
        cursor: "pointer";
    }
    .report-table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}