.pdfLabel {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.questionName {
    margin-right: 90%;
}
.saveBtnDiv {
    margin-top: 45px !important;
}
.saveBtn {
    padding: 10px 15px 10px 15px !important;
}