
.mischool-resume{
    display: flex;
    flex-direction:column;
    width: 100%;
    background-color:#fc6171 
        
}

    .mischool-resume .headers{
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 100%;
        margin-top: 50px;
        font-size: 30px;
    }
    
    .mischool-resume .logo-container{
        display:flex;
        flex-direction:column;
        align-items:center;
        border-right: 1px solid #fafafa;
        justify-content: center;
        margin-bottom: 20px;
    }

    .mischool-resume .logo-container-cerp{
        display:flex;
        flex-direction:column;
        align-items:center;
        margin: 25px auto;
        border-right: 1px solid #fafafa;
        justify-content: center;
        padding: 5px;
    }
        .mischool-resume .logo{
            max-height: 200px;
            max-width: 200px;
            border:1px solid white;
            border-radius: 40px;
            animation: glowing 5000ms infinite;
        }

        .mischool-resume .logo-cerp{
            max-height: 200px;
            max-width: 200px;
            border:1px solid white;
            border: none; 
        }
        .mischool-resume .quote{
            width: 60%; 
            margin-left: 10px; 
            display: flex; 
            align-items: center; 
            justify-content: center 
        }


        @keyframes glowing {
            0% { box-shadow: 0 0 1px 2px #fafafa; }
            40% { box-shadow: 0 0 20px 5px #fafafa; }
            60% { box-shadow: 0 0 20px 5px #fafafa; }
            100% { box-shadow: 0 0 1px 2px #fafafa; }
          }

    .mischool-resume .body{
        background-color:#fafafa;
        width: 100%;
    }
        .mischool-resume .body .card-video{
            margin: 25px auto;
            padding: 30px;
            display: flex;
            flex-direction: row;
            max-width: 1300px;
            width: 75%;
            border: 3px solid #fc6171; 
            box-shadow: 5px 5px 5px 5px #eaeaea;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            cursor: pointer;

        }
            .mischool-resume .body .card-video .cv-img-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-repeat: no-repeat; 
                background-position: center;
                background-size: 20%;
            }
                .mischool-resume .body .card-video .cv-img-container .cv-image{
                    opacity: 0.5;
                    max-width: 75%
                }
                .mischool-resume .body .card-video .cv-img-container .cv-play{
                    width: 70px;
                    height: 70px;
                }

        .mischool-resume .card-heading{
            margin: 15px auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: rgb(252, 97, 113);
            font-size: 2rem;
        }

        .mischool-resume .body .card{
            margin: 10px auto;
            padding: 30px;
            display: flex;
            flex-direction: row;
            max-width: 1300px;
            width: 85%;
/*          border: 1px solid #b8b8ba; 
            box-shadow: 5px 5px 5px 5px #eaeaea;
            border-radius: 5px; */
            align-items: center;
        }

            .mischool-resume .body .card .info{
                display:inherit;
                flex-direction:column;
                width:60%
            }
                .mischool-resume .body .card .info .card-title{
                    color: #fc6171;
                    font-size: 1.3rem;
                    font-weight: bold;
                }
                .mischool-resume .body .card .info .para{
                    text-align: justify;
                }

                .mischool-resume .body .card .info .icard-row {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                }

            .mischool-resume .body .card .info .icon-card {
                display: flex;
                flex-direction: row;
                width: 47%;
                border-radius: 2px;
                box-shadow: 1px 1px 5px 2px #eaeaea; 
                padding: 3px;
                margin-bottom: 10px;
                align-items: center;
            }
                .mischool-resume .body .card .info .icon-card .icard-image-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 25%;
                }
                    .mischool-resume .body .card .info .icon-card .icard-image { 
                        height: 30px;
                        width: 30px;
                    }

                .mischool-resume .body .card .info .icon-card .icard-para{
                    width: 75%;
                    font-size: 12px;
                    justify-content: center;
                    align-items: center;
                }


            .mischool-resume .body .card .img-container{
                display: flex;
                flex-direction:row;
                width:40%;
                justify-content:center;
                align-items: center;

            }
                .mischool-resume .body .card .img-container .image{
                    max-height:300px;
                    max-width:200px;
                    min-width: 150px;
                    min-height: 100px;
                }
            
            .mischool-resume .body .package-container{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;

                margin: 50px auto;
                max-width: 1360px;
                width: 75%;

            }
                .mischool-resume .body .package-container .pcard-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                }
                    .mischool-resume .body .package-container .pcard{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        margin: 10px;
                        box-shadow: 1px 3px 5px 1px #b8b8ba; 
                        border-radius: 15px;
                        background-color: #fafafa;
                        height: 320px;
                        width: 200px;
                        position: relative;
                        transition: all .2s ease-in;
                    }

                    .pcard-container :hover{
                        transform: scale(1.05);
                    }

                        .mischool-resume .body .package-container .pcard .para li {
                            transform: none;
                        }
                        .mischool-resume .body .package-container .pcard .pcard-title{
                            width: 100%;
                            display: flex;
                            height: 80%;
                            font-weight: bold;
                            align-items: center;
                            justify-content: center;
                            align-self: center;
                            border-radius: 10px 10px 0 0;
                            transform: none;
                            font-size: 1.3rem;
                        }

                        .mischool-resume .body .package-container .pcard .para{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            height: 35%;
                            box-shadow: 0 -10px 10px rgba(0,0,0,0.2);
                            padding: 10px;
                            transform: translateY(-10px);
                            background-color: #fafafa;
                            border-radius: 10px;
                        }
                        .mischool-resume .body .package-container .pcard .pcard-try{
                            height: 10%;
                        }

    .mischool-resume .footer{
        display: flex;
        flex-direction: row;
        justify-content:center;
        width: 100%;
        font-size: 15px;
        /*boxShadow: 5px 5px 5px 5px #fc6171;
        borderRadius:35px*/
    }
        .mischool-resume .footer .contact-us{
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            padding: 15px;
        }
        .contact-us .title{
            font-size: 2rem;
            margin-bottom: 5px;
            font-weight: bold;
        }

    .card.sign-up{
        box-shadow: 1px 1px 5px 2px #eaeaea;
        border: none;
    }
    .card.sign-up label{
        color:#fc6171
    }

    .card.sign-up .row {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .card.sign-up .row label{
        width: 30%;
    }
    .card.sign-up .row input{
        width: 70%;
        margin-bottom: 5px;
    }
    .card.card.sign-up .row select{
        width: 70%;
    }
    .card.card.sign-up .button{
        margin-top: 10px;
        width: 100%
    }


@media screen and (max-width : 768px){
    .mischool-resume .body .card{
        margin:20px auto;
        padding: 30px;
        display: flex;
        flex-direction:column;
        max-width:1300px;
        width: 75%;
        align-items: center;
        /* box-shadow:5px 5px 5px 5px #eaeaea;
        border: 3px solid #b8b8ba; */
    }
    .mischool-resume .body .card .info .icon-card {
        display: flex;
        flex-direction: row;
    }
    .mischool-resume .body .card .info{
        display:inherit;
        flex-direction:column;
        width:100%
    }

    .mischool-resume .card.setup{
        flex-direction: column-reverse;
    }
    .mischool-resume .body .package-container .pcard-container {
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        transform: none
    }
    .mischool-resume .body .package-container .pcard {
        height: 80%;
        transform: none;
    }

    .slider {
        border: 2px solid #fc6171;
        border-radius: 5px; 
        width: 300px;
        height: 300px;
        display: flex;
        overflow-x: auto;
      }
      .slide {
        flex-shrink: 0;
      }

}