@media print {
    .print-table {
        width: 100%;
        margin: auto;
    }
    .row-quantity {
        width: 10% !important;
    }
    .row-date {
        width: 15% !important;
    }
    .row-deduction {
        width: 15% !important;
    }
    .row-amount {
        width: 15% !important;
    }
    .row-category {
        width: 20% !important;
    }
    .row-label {
        width: 25% !important;
    }
}