body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.arrow-up {
	width: 0;
	height: 4;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-bottom: 10px solid rgba(45, 212, 191, var(--tw-bg-opacity));
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.tw-table-container {
		@apply inline-block min-w-full shadow rounded-lg overflow-hidden;
	}
	.tw-table {
		@apply w-full table-auto leading-normal;
	}
	.tw-thead {
		@apply bg-gray-200 border-b-2 border-gray-200 text-gray-700 uppercase text-xs text-center font-semibold tracking-wider;
	}
	.tw-th {
		@apply px-5 py-3;
	}
	.tw-tr {
		@apply text-center;
	}
	.tw-td {
		@apply px-5 py-3 border-b border-gray-200 text-gray-900 text-sm;
	}

	.tw-input {
		@apply border focus:ring-2 focus:ring-blue-brand outline-none text-gray-600 px-4 py-2 ring-blue-brand rounded-md;
	}

	.tw-btn {
		@apply px-4 py-3 rounded-md cursor-pointer focus:ring-2 outline-none font-semibold;
	}

	.tw-btn-blue {
		@apply px-4 py-2 bg-blue-brand rounded-md text-white cursor-pointer hover:bg-blue-400 focus:ring-2 focus:ring-blue-brand outline-none;
	}

	.tw-btn-red {
		@apply px-4 py-2 bg-red-brand rounded-md text-white cursor-pointer hover:bg-red-400;
	}

	.tw-select {
		@apply rounded-md border focus:ring-2 focus:ring-blue-brand outline-none bg-white text-gray-600 py-2 px-4 leading-tight;
	}
}
